@import url("../../style.css");

.signup-container{
    height: 32rem;
    width: 23rem;
    margin-top: 9rem;
    display: flex;
    justify-content: center;
    box-shadow: 1px 1px 1px 2px var(--dark-gray-color);
}
.fa-angle-right{
    color:var(--white-color);
} 
.signUp-lebel{
    color:  var(--black-color);
    display: flex;
    justify-content: flex-start;
    margin: 0.5rem 0.1rem; 
}
.signUp-heading{
    color:  var(--black-color);
}
.sign-input{
    width: 17rem;
    height: 1.3rem;
    padding-left: 1.1rem;
}
.terms-and-condition{
    color: var(--black-color);
}
.termsandConditions-div{
    margin: 0.8rem 0 0 -0.2rem;
}
.sign-btn{
    padding: 0.5rem 7.3rem;
    border: transparent;
    margin-top: 1rem;
    border-radius: 0.3rem;
    background-color: var(--blue-color);
    color: var(--white-color);
    font-weight: 900;
    cursor: pointer;
}
.sign-btn:hover {
    background-color: var(--light-blue-color);
  }
.alreadyHaveAccount{
    color: var(--black-color);
    font-size: 0.9rem;
}
.login-here{
    text-decoration: none;
    color: var(--blue-color);
    margin-left: 1rem;
}

.signup_passwordIcon {
    color: var(--black-color);
    position: relative;
    top: -2.4rem;
    left: 16rem;
  }
.confirm-Password{
    margin-top: -2.7rem;
}
