@import url("../../style.css");

.outer-product-side-bar{
    height: 34.5rem;
    width:79.8rem;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
}
.login-container{
    height: 30rem;
    width: 23rem;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    box-shadow: 1px 1px 1px 2px var(--dark-gray-color);
}
.login-content{
    height: 28rem;
    width: 19rem;
    margin-top:-1rem;
}
.user-input{
    height: 1.2rem;
    width: 18.5rem;
    border: 1px solid var(--gray-color);
}
.login-btn{
    padding: 0.7rem 7.9rem;
    background-color: var(--blue-color);
    border: none;
    color: var(--white-color);
    font-weight: bold;
    margin-top: 1rem;
}

h2{
    text-align: center;
}
span{
    color: var(--blue-color);
}
.fa-angle-right{
    color:var(--black-color);
} 