@import url("../../style.css");

/* css for cart */

.cart-section{
    height: 25rem;
    width: 60rem;
    display: flex;
    gap: 15rem;
    margin-top: 7rem;
}
.cart-btn{
    padding: 0.8rem 1.5rem;
    background-color: var(--blue-color);
    color: var(--white-color);
    border: none;
    border-radius: 0.5rem;
    font-weight: bolder;
}
.cart-btn-div{
    display: flex;
    column-gap: 0.2rem;
    margin-top: 2rem;
    margin-left: 0.5rem;
}
.cart-btn:hover{
    background-color: var(--red-color);
}
.cart-heading-four{
    position: relative;
   top: -0.9rem;
   width: 8rem;
   margin-left: -1rem;
}
.cart-product-container{
    height: 35rem;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
}

.cart-text{
    height:7rem;
    width: 14rem;
    overflow-y: hidden;
    
    margin-bottom: -2rem;
    margin-left: 0.8rem;  
}
.cart-container{
    height: 21.8rem;
    width: 15rem;
    box-shadow:var(--box-shadow)
}
.cart-content{
    height: 10.4rem;
    width: 15rem;
    margin-top: -1rem;
    background-color: var(--sky-blue-color);
}
.cart-rating-div{
    width:3.1rem;
    height: 1.5rem;
    color: var(--white-color);
    background-color: var(--red-color);
   margin-top: -5.3rem;
    margin-left: 10rem;
    border-radius: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Price detail */

.detail{
    height: 24rem;
    width: 20rem;
    box-shadow: 1px 1px 1px 4px var(--sky-blue-color);
    display: flex;
    justify-content: center;
}
.inner-detail-div{
    height: 20rem;
    width: 18rem;
    margin-top: 1rem;
}
.price{
    height: 13rem;
    width: 3rem;

    margin-top: -15rem;
    margin-left:15rem ;
}
hr{
    margin-left: 0.3rem;
}
span{
    margin-left: 0.5rem;
}
.cart-heading{
    position: relative;
    left:30rem;
}
h5{
    margin-top: -3rem;
}
.quantity-btn{
    padding: 0.2rem 0.5rem;
}
.increment-decrement{
    border-radius: 50%;
    padding: 0.3rem 0.7rem;
    margin-top: 1rem;
} 
 