.cart-bill-btn{
    padding: 0.7rem 7.2rem;
    background-color:var( --light-blue-color);
    color: var(--white-color);
    border: none;
    font-weight: bolder;
    cursor: pointer;
}
.order-detal-hearding{
    border-bottom: 1px solid black;
}
/* .inner-detail-div{ */
    /* border: 1px solid red; */
/* } */
