@import url("../../style.css");

.side-bar {
  height: 100vh;
  width: 15rem;
  overflow-y: scroll;
  box-shadow: 1px 1px 1px 1px var(--gainboro-color);
}
.side-bar::-webkit-scrollbar {
  background-color: var(--white-color);
  width: 0.5px;
}
.filter-heading {
  margin-top: 2rem;
  margin-left: 2rem;
}
.unordered-list {
  list-style: none;
  margin-top: 2.7rem;
}
.filter-items-heading {
  margin-top: 1rem;
}
.clear-btn {
  width: 6rem;
  height: 2.2rem;
  background-color:var(--blue-color);
  color:  var(--white-color);
  border-radius: 0.4rem;
  margin-top: 1.6rem;
  border: none;
  font-weight: 900;
}
.clear-btn:hover{
  background-color: var(--red-color);
}
.sidebarItem {
  margin-top: 1rem;
  color: var(--black-color);
}


