@import url("../../style.css");
.image-size{
    height: 12rem;
}
.outer-img-div{
    height: 15rem;
    width: 18rem;
    border: 2px solid var(--dark-gray-color);
    margin-top: 1rem;
    overflow-y: hidden;
}
.outer-img-div:hover{
    transform: scale(1.1)}
.title{
    font-weight: bolder;
}